<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="address">
            <h5>VanFord Realty</h5>
            <p>840 Main Street</p>
            <p>Springfield</p>
            <p>919.367.8540</p>
        </div>
        
        <div class="social-media">
            <i class="fab fa-facebook-square fa-3x"></i>
            <i class="fab fa-twitter-square fa-3x"></i>
            <i class="fab fa-instagram-square fa-3x"></i>
        </div>
       
    </footer>
</body>
</html>