<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="address">
      <h5 class="footer-name">VanFord Realty</h5>
      <p>840 Main Street</p>
      <p>Springfield</p>
      <p>919.367.8540</p>
    </div>

    <ul class="nav nav-footer justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/houses/">Houses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/realtors">Realtors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/cities">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/blogs">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/contact">Contact Us</a>
      </li>
    </ul>

    <div class="social-media">
      <h5 class="follow-us text-secondary">FOLLOW US</h5>
      <i class="fab text-secondary fa-facebook-square fa-2x"></i>
      <i class="fab text-secondary fa-twitter-square fa-2x"></i>
      <i class="fab text-secondary fa-instagram-square fa-2x"></i>
      <i class="fab text-secondary fa-youtube-square fa-2x"></i>
    </div>
  </footer>
</body>
</html>