<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">VanFord Realty</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Realtor Login</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input type="text" placeholder="address">
                    <input type="number" name="min_price" id="min_price" placeholder="min price">
                    <input type="number" name="max_price" id="max_price" placeholder="max price">
                    <input type="number" name="bedrooms" id="bedrooms" placeholder="bedrooms">
                    <input type="number" name="bathrooms" id="bathrooms" placeholder="bathrooms">
                    <a href="/houses/search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
                </form>
            </div>
        </nav>
    </header>
    <section>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/houses/">Houses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/realtors">Realtors</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/cities">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li> -->
        </ul>
    </section>
</body>
</html>