<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    OOOPPS. The page you are looking for doesn't exist...
    <button type='button' class='btn btn-danger'><a href='/'>Back</a></button>
</body>
</html>