<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <h2 class='text-center'>OOOPS. The page you are looking for doesn't exist...</h2>
    <div class='col text-center'>
        <button type='button' class='btn btn-danger'><a href='/'>Back</a></button>
    </div>
    
</body>
</html>