
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  
  <form class="form-inline my-2 my-lg-0">
    <input type="text" placeholder="address">
    <input type="number" name="min_price" id="min_price" placeholder="min price">
    <input type="number" name="max_price" id="max_price" placeholder="max price">
    <input type="number" name="bedrooms" id="bedrooms" placeholder="bedrooms">
    <input type="number" name="bathrooms" id="bathrooms" placeholder="bathrooms">
  </form>

  <% houses.forEach(house => { %>
    if ()
  <% }) %>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>