.container {
  position: relative;
  z-index: 1
}

.container .index-background {
  background-image: url('/images/Vanford-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

h1 {
  text-align: center;
  margin: 25px 0;
}

h2, h3, h4 {
  margin-left: 5%;
}

h1, h2, h3, h4, h5, h6, .nav-item {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style-type: none;
}

p {
  font-family: 'Fauna One', serif;
}

/* NAVBAR PARTIAL */
section {
  margin: 2% 0;
}

.navbar {
  min-height: 80px;
}

.logo {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.navbar-custom {
  background: #070d59
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

/* FOOTER PARTIAL */
html, body {
  height: 100vh;
  margin: 0;
}

.address {
  padding: 3%;
}

.footer {
  display: flex;
  height: 250px;
  margin: 0;
  justify-content: space-between;
  background:  #f6f5f5;
  position: relative;
  z-index: 1;
}

.push {
  height: 250px;
}

.container {
  min-height: 100%;
  margin-bottom: -25vh;
}

.social-media {
  padding: 3%;
}

.follow-us {
  margin-left: 15%;
  width: 150px;
}

.footer-name {
  font-family: 'Josefin Sans', sans-serif;
}

.nav-footer {
  margin: 3%;
}

/* LANDING PAGE */

.listing {
  text-align: center;
}

.landing-images {
  cursor: pointer;
}

.house-billboard {
  width: 500px;
  height: auto;
}

.realtor-month {
  width: 250px;
  height: 250px;

}

.featured {
  border-radius: 50%;
}

.blog {
  width: 300px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.container .index-background {
  background-image: url('/images/Vanford-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

/* LISTINGS INDEX */
.new-listing, .new-city {
  margin: 20px 0 20px 0;
}

.new-city {
  display: inline;
}

.edit-city {
  display: inline;
}

.update-realtor{
  display: block;
  margin: 2%;
}

.listing {
  margin: 2%;
}

.house-listing {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2%
}

#menu-items {
  text-align: center;
}

.container .houses-background {
  background-image: url('/images/houses-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

.buttons-custom {
  background: #f6f5f5;
}

.logout {
  margin-top: 2%;
}

a.dark{
  color: black;
  text-decoration: none;
}

/* LOGIN / HOUSING FORMS  */
form {
  display: inline;
}

.form-screen {
  width: 50%;
  border: 1px solid black;
  margin: 0 auto;
}

/* HOUSES INDEX */
/* https://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css/22592136 */
.house-display {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: 5%;
  cursor: pointer;
}

img {
  width: 300px;
  height: 200px;
  background-color: grey;
}

.house-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* HOUSES SHOW */

.show-realtor {
  margin: 5% 0 0 7%;
}

.realtor {
  margin-left: 2%;
  cursor: pointer
}

#show-image {
  border: 10px solid #797a7e;
  margin-top: 5%
}

#show-page-intro {
  background: #f6f5f5;
  border: 1px solid grey;
}

#house-price {
  color: #8fc0a9;
}

/* REALTOR INDEX */
.realtor-display {
  display: inline-block;
  padding: 20px 30px;
  margin-left: 3%;
  box-sizing: border-box;
  width: 250px; height: 250px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;

}

.realtor-image {
  margin: auto;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.container .realtors-background {
  background-image: url('/images/realtor-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

/* REALTOR SHOW */

.realtors-listings {
  text-align: center;
  width: 18vw;
  margin: 5%;
  cursor: pointer;
}

.listing-box{
  overflow-x: hidden;
  overflow-y: auto;
  height: 75vh;
  width: 20vw;
  right: 3.625vw;
}

.bio {
  text-transform: uppercase;
}

.realtor-bio {
  overflow-wrap: break-word;
}

/* https://www.w3schools.com/cssref/pr_pos_overflow.asp */

.properties-box {
  overflow: scroll;
}

/* CITY SHOW */ 

.city-show {
  margin-left: 0%;
}

.city-text {
  color: white;
  font-size: 5rem;
}

.city-listing-box {
  margin: 2% 9%;
  display: flex;
}

.citys-listings {
  margin: 0 1vw;
}

.photo {
  position: relative;
  margin: 2%;
}

.text-overlay {
  position: relative;
  top: 30vh;
  left: 15vw;
  width: 30vw;
  z-index: 1;
  background: black;
  opacity: 0.4;
  color: white;
}

#city-image {
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 30vh;
  opacity: 0.8;
}

.city-show-box {
  overflow: hidden;
  width: 60vw;
  height: 60vh;
}

.city-index {
  display: flex;
  flex-flow: wrap;
}


.city-display {
  margin: 0 5vw;
  cursor: pointer;
}

/* BLOG */

.blog-article {
  margin: 0 0 10px 0;
}

.blog-space {
  margin: 2% 0;
  cursor: pointer;
}

/* CONTACT */

.contact {
    text-align: center;
    margin-bottom: 2%;
}


@media only screen and (max-width: 900px) {
  .city-text {
    color: white;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .city-text {
    color: white;
    font-size: 2rem;
  }
}

