h1 {
    text-align: center;
    margin: 25px 0 25px 0;
}

h2, h3, h4 {
    margin-left: 5%;
}

ul {
    list-style-type: none;
}

/* NAVBAR PARTIAL */
.navbar {
    min-height: 80px;
}

section {
    margin: 2% 0;
}

/* FOOTER PARTIAL */
.address {
    padding: 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    background:  #9cada4;
}


/* LANDING PAGE */
.landing-page {
    display: flex;
    justify-content: space-between;
}

.landing-picture {
    width: 400px;
    height: 300px
}

/* .blog {
    position: absolute;
    bottom: 25%;
    right: 14%;
} */

/* LISTINGS INDEX */
.new-listing {
    margin: 20px 0 20px 0;
}

.update-realtor{
    display: block;
    margin: 2%;
}

/* LOGIN / HOUSING FORMS  */
form {
    display: inline;    
}

.form-screen {
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
}

/* HOUSES INDEX */
/* https://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css/22592136 */
.house-display {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 5%;
    cursor: pointer;
}

img {
    width: 300px;
    height: 200px;
    background-color: grey;
}

.house-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* HOUSES SHOW */
.show-page {
    display: flex;
    justify-content: space-around;
}

.show-realtor {
    margin: 5% 0 0 5%;
}

/* REALTOR INDEX */
.realtor-display {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 5%;
    cursor: pointer;
}



/* REALTOR SHOW */
.realtor-img-box {
    width: 45vw;
    position: absolute;
    left: 27.5vw;
}

.realtors-listings {
    text-align: center;
    width: 18vw;
    margin: 5%;
    cursor: pointer;
}

.listing-box{
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 75vh;
    width: 20vw;
    position: absolute;
    right: 3.625vw;
}


.realtor-img {
    width: 100%;
    height: auto;
}

.realtor-info {
    position: absolute;
}












