<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1>all realtors</h1>
  <ul>
    <% allRealtors.forEach((realtor) => { %>
      <li>
        <a href="/realtors/<%= realtor._id %> "><%= realtor.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>