<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtors</title>
</head>
<body>
  <h1>all realtors</h1>
  <ul>
    <% allRealtors.forEach((realtor) => { %>
      <li>
        <a href="/realtors/<%= realtor._id %> "><%= realtor.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>