<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1>A new hire</h1>
  <form action="/realtors" method="POST">
    <div>
      Name: <input type="text" id="name" name="name">
    </div>
    <div>
      Phone Number: <input type="text" id="phone" name="phone">
    </div>
    <div>
      E-Mail: <input type="text" id="e-mail" name="email">
    </div>
    <div>
      Address: <input type="text" id="address" name="address">
    </div>
    <div>
      Bio: <input type="text" id="bio" name="bio">
    </div>
    <button type="submit">Add Realtor</button>
  </form>
</body>
</html>